language: perl
sudo: false
perl:
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"
  - "5.26"
  - "5.28"
before_install:
    cpanm -n Devel::Cover::Report::Coveralls
script:
    perl Build.PL && ./Build build && cover -test -report coveralls
matrix:
  allow_failures:
    # SEE ALSO https://metacpan.org/source/DCONWAY/PPR-0.000015/lib/PPR.pm#L7
    - perl: "5.20"


